---
---

@import "{{ site.theme }}";

body{
  color: #222222;
}


a {
  color: #0366d6;
  font-weight: normal;
}
h1 a{
  font-weight: bold;
}

a:hover, a:focus{
  font-weight: inherit;
  color: inherit;
}

section {
  width: 100%;
  max-width: 560px;
  font-size: 16px;
  line-height: 1.6;
}

.tag{
  border-radius: 4px;
  padding: 2px 4px;
}
.asana-purple{
  color: white;
  background-color: #aa62e3;
}
