---
---

@import "{{ site.theme }}";

body{
  color: #222222;
}

a:hover{
  font-weight: inherit;
}

section {
  width: 100%;
  max-width: 560px;
  font-size: 16px;
  line-height: 1.6;
}

.tag{
  border-radius: 2px;
}
.asana-blue{
  background-color: blue;
}
